canvas {
    border: 5px solid forestgreen;
    border-radius: 3px;
    height: 400;
    margin-top: 15px;
    margin-left: 65px;
    align-self: flex-end;
}

.main {
    display: flex;
    padding-top: 50;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    margin: 0;
    padding: 0;
}

.controls {
    position: absolute;
    color: #ffff33;
    /* border: 3px solid forestgreen; */
    top: 420;
    font-size: 12;
    align-self: flex-start;
    margin-left: 5px;
    /* background-color: yellow; */
}

.pause, .play {
    font-size: 12;
    align-self: flex-start;
    margin-left: 5px;
    position: absolute;
    color: #ffff33;
    background-color: black;
    border: none;
    font-size: 12;
    font-family: inherit;
    margin: 0;
    padding: 0px 5px;
}

.pause:hover, .play:hover {
    cursor: pointer;
}

.pause:focus, .play:focus {
    outline: 0;
}

.pause {
    top: 320;
}

.play {
    top: 298;
}

.title {
    
    color: #00b300;
    padding: 5px;
    font-size: 25;
}

#score-board {
    position: relative;
    align-self: flex-start;
    /* left: -200; */
    top: 100;
    /* width: 176; */
    /* font-size: 24px; */
    margin-left: 5px;
    padding-bottom: 15px;
    color: #ffff33;
    border-bottom: 3px solid forestgreen;
}

i {
    border: solid blue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}